<!--
  ~ Copyright © 2015-2016, AnHui Mobiao technology co. LTD Inc. All Rights Reserved.
  -->

<div id="agentSearchToolbar" class="page_toolbar">
    <div class="searchArea ">
        代理商名称: <input id="txt_agent_name" style="width: 160px;" type="text" class="txt01"/>
        手机号码: <input id="txt_phone" style="width: 80px;" type="text" class="txt01"/>
        <a id="a_agent_search" href="javascript:void(0);" plain="true" class="easyui-linkbutton"
           icon="icon-search" title="查询">查询
        </a>
    </div>
</div>
<table id="agentDataGrid" toolbar="#agentSearchToolbar"></table>