<!--
  ~ Copyright © 2015-2016, AnHui Mobiao technology co. LTD Inc. All Rights Reserved.
  -->

<form id="noticeform">
    <input type="hidden" name="oldDir" id="oldDir"/>
    <input type="hidden" name="currentPath" id="currentPath"/>
    <table class="grid">
        <tr>
            <td align="left">目录名称</td>
            <td><input type="text" name="newDir" class="txt01 easyui-validatebox"
                       style="width:400px;"
                       id="newDir"
                       data-options="required:true,validType:['string','length[0,100]']"/></td>
        </tr>

    </table>
</form>
