<form id="informationRemind">
    <div id="staffTab" fit="true" style="height: 540px; overflow: hidden;">
        <!--<input type="hidden" name="er.id" value="">-->
        <table class="grid">
            <tr>
                <td>提醒内容 ： </td>
                <td><textarea rows="2" cols="21" name="er.remind_content"  type="text"/></td>
            </tr>
            <tr>
                <td>接收人  ： </td>
                <td><input name="er.username" id="dept" type="text"></td>
            </tr>
            <tr>
                <td>发送人  ： </td>
                <td><input name="er.overtime_start_time" id="askStartTime" type="text"></td>
            </tr>

            <tr>
                <td>创建时间  ： </td>
                <td><input name="er.create_time"id="askEndTime" type="text"></td>
            </tr>
            <tr>
                <td>提醒类型  ：</td>
                <td> <input name="er.type" id="plaTime" type="text"></td>
            </tr>
            <tr>
                <td>查看状态  ： </td>
                <td><input name="er.check_status" id="planTime" type="text"></td>
            </tr>
            <tr>
                <td>查看时间  ： </td>
                <td><input name="er.check_time"  id="realityStartTime" type="text"></td>
            </tr>
        </table>
    </div>
</form>
<script type="text/javascript">
//    $(function(){
//
//        if($("#plaTime").val()==4){
//            $("#plaTime").val("Hello4 World");
//        }else if($("#plaTime").val()==3){
//            $("#plaTime").val("Horld3");
//        }else if($("#plaTime").val()==2) {
//            $("#plaTime").val("Horld2");
//        }else{
//            $("#plaTime").val("Horld1");
//        }

  //  });


</script>


