<form id="uiform">
    <input type="hidden" name="role.id" value="">
    <table class="grid">
        <tr>
            <td align="left">编号：</td>
            <td>
                <input name="role.code" class="txt01 "
                       id="code">
            </td>
        </tr>
        <tr>
            <td align="left">名称：</td>
            <td>
                <input class="txt01" name="role.name" id="name">
            </td>
        </tr>
        <tr>
            <td align="left">描述：</td>
            <td>
                <textarea style="width: 180px;height: 180px;" class="txt09" name="role.description"
                          id="description"></textarea>
            </td>
        </tr>
    </table>
</form>

